* {
    /* margin: 0; */
}

span {
    color: blue;
    font-size: 40px;
}

.purple {
    margin: 70px;
    border: 5px solid black;
    padding: 100px;
    color: purple;

    background-color: red;

    text-align: center;

    box-sizing: content-box;

    width: 700px;
    height: 700px;
}

.green {
    color: green;
}

#text {
    color: red;
    font-size: 40px;
}

.font {
    font-size: 40px;
}

.font__setting {
    font-size: 50px;
    font-weight: bold;
    color: red;

}


.content { 
    box-sizing: border-box;
    width: 300px;
    background-color: rgb(173, 160, 194);
    margin: 50px auto;
    border: 5px solid red;
    text-align: center;
}
h1 {
    color: green;
}

p {
    color: black;
}

.inline {
    width: 200px;
    height: 200px;
    background-color: black;
    margin: 10px;
    float: left;
}

